/********ARCHIVE*****START********/
.archive{
    width:85%;
}

.archive footer span{
    margin: 0 0 0 15px;
    color: #777;
}

.archive-list *{
    margin: 0 0 15px 0;    
}

.archive-list header{
    margin-top: 15px;
    font-size:30px;
}

.archive-list section{
    min-height: 50px;
}

.archive-list footer{
    text-align: right;
    min-height: 20px;
}

.archive_item{
    border-bottom: solid 1px #ccc;
    margin-bottom: 25px;
}

.archive_item a:hover{
}

.archive_item footer span{
    margin-left: 15px;
}

.archive_item header a{
    padding: 3px 6px 3px 0;
}

.article-head {
    text-align: center;
}

.article-head p {
    color: #777;
    font-size: 26px;
    padding: 0px 120px;
}

.article-head header {
    margin-bottom: 20px;
    font-size: 38px;
}

.article-head footer {
    margin-bottom: 50px;
}

.article-body img{
    min-width: 100%;
    max-width: 800px;
    height: auto;
}

.article-body {
    padding: 0px 30px;
    text-align: left;
    margin-bottom: 30px;
}

.article-body pre {
    background-color: #444;
    padding: 20px;
    overflow: auto;
}

pre code {
    color: #2DFF00;
}

.article-tail footer{
    color: #777;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 1000px){
    .archive {
        width:100%;
    }

    .article-body {
        padding: 0px 15px;
    }
    
    .article-head p {
        padding: 0px 10px;
    }

    .article-body img{
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
}
/********ARCHIVE*****END********/