.main {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-left {
    width: 333px;
}

.page-middle {
    width: 700px;
}

.page-right {
    width: auto;
}

.article-head {
    text-align: center;
}

.article-head p {
    color: #777;
    font-size: 16px;
}

.article-head header {
    margin-bottom: 20px;
    font-size: 38px;
}

.article-head footer {
    margin-bottom: 50px;
}

.article-body {
    text-align: left;
    margin-bottom: 30px;
}

.article-body img{
    width: 100%;
    height: auto;
}

.article-body pre {
    background-color: #000;
    padding: 0px;
    overflow: auto;
}

pre code {
    color: #fff;
    white-space: pre;
}

.article-tail footer{
    color: #777;
    text-align: center;
    margin-bottom: 30px;
}

.brief {
    height: 70%;
}

.brief p {
    padding: 20px;
}

.brief img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    height: 300px;
    text-align: center;
    /*text-decoration: none;*/
}

.title {
    padding: 10px;
    display: block;
    overflow: hidden;
    height: 30%;
    border-top: solid 1px;
    border-top-color: #f1f1f1;
}

.title h3 {
    margin-top: auto;
    margin-bottom: auto;
}


@media (max-width: 1199px){
    .archive {
        /*width:100%;*/
    }
    .page-left {
        width: 300px;
    }
    .page-middle {
        width: 650px;
    }
    .archive-list > article {
        padding: 0px 15px;
    }

    .article-body {
        padding: 0px;
    }

    .article-body > p, h1, h2, h3, h4 {
        padding: 0px 15px;
    }

    .article-body > pre {
        border-radius: 0px;
    }
    
    .article-head p {
        padding: 0px 10px;
    }

    .article-body img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .page-left {
        display: none;
    }
    .page-middle {
        margin: auto;
    }
}

@media (max-width: 767px) {
    .page-left {
        display: none;
    }

    .page-middle {
        width: 100%;
        padding: 0px;
    }

    .page-middle .row {
        margin: 0px;
    }

    .list-item {
        padding: 0px;
    }
}


