@charset "utf-8";
/* CSS Document */

.main-body {
    margin: 0 auto;
    padding: 0px;
}
.fixed-bg {
    top: 0;
    z-index: 1;
}
.fixed-bg span {
    display: block;
    font-size: 150px;
    font-family: "微软雅黑";
    color: #f1f1f1;
    margin-left: 50px;
    text-align: left;
    cursor: default;
}
[class^="section-"]{
    margin: 0 auto;
    width: 1000px;
}
.timer {
    color: #666;
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
}
.menu-container {
    z-index: 999;
    width:325px;
    height:155px;
    border-bottom:1px solid #ccc;
    margin:0 auto;
    padding:0 20px;
}
.section-mid{
    text-align: center;
}
.menu-container div {
    float:left;
    height:75px;
    width:33.3%;
    margin-top:40px;
}
.menu-container div a{
    text-decoration: none;
    font-family: "微软雅黑";
    font-size: 100px;
    color: #333;
    height:75px;
    width:75px;
}

@media (max-width: 1000px){
    [class^="section-"]{
        margin: 0 auto;
        width: 100%;
    }

    .menu-container div a{
        font-size: 68px;
    }

    .fixed-bg span {
        font-size: 68px;
        margin-left: 0px;
        text-align: center;
    }
    .menu-container{
        width: 90%;
        padding: 0;
    }
    .menu-container div{
        width: 33.3%;
        margin:65px 0px 0px 0px;
    }
}