/********ARCHIVE*****START********/
.archive_list{
}

.archive{
    width:85%;
}

.archive footer span{
    margin: 0 0 0 15px;
    color: #777;
}

.archive_list *{
    margin: 0 0 15px 0;    
}

.archive_item{
    border-bottom: solid 1px #ccc;
    margin-bottom: 25px;
}
.archive_item a:hover{
}
.archive_item footer span{
    margin-left: 15px;
}

.archive_list header{
    margin-top: 15px;
    font-size:30px;
}
.archive_item header a{
    padding: 3px 6px 3px 0;
}
.archive_list section{
    min-height: 50px;
}
.archive_list footer{
    text-align: right;
    height: 20px;
}

.archive_article{
    text-align: center;
}

.archive_article img{
    max-width: 800px;
    height: auto;
}

.archive_article header{
    margin-bottom: 20px;
    font-size: 38px;
}

.archive_article section{
    padding: 0 20px 0 80px;
    text-align: left;
    border-left: solid 1px #ccc;
    margin-bottom: 30px;
}

.archive_article footer{
    margin-bottom: 30px;
}

@media (max-width: 1000px){
    .archive{
        width:100%;
    }
    .archive_article section{
        padding: 0px 20px 0 35px;
        margin-left: 20px;
    }
    .archive_article img{
        max-width: 100%;
        height: auto;
    }
}
/********ARCHIVE*****END********/