@charset "utf-8";
/* CSS Document */

.main-body {
	margin: 0 auto;
	padding: 0px;
}
.fixed-bg {
	position:absolute;
}
.section-top {
	height:800px;
}

.menu-container {
	width:285px;
	height:155px;
	border-bottom:1px solid #ccc;
	margin:250px auto;
	padding:0 20px;
}

.menu-container div {
	float:left;
	height:75px;
	width:75px;
	margin:40px 10px;
}
.menu-container div a{
    text-decoration: none;
    font-family: "微软雅黑";
    font-size: 100px;
    color: #333;
	height:75px;
	width:75px;
}
